body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
}

input, textarea, select, button {
    width: 90%;
    margin: 5px;
    padding: 8px;
}

button {
    background-color: #2c7be5;
    color: white;
    border: none;
}
