<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Crime Complaint Management System</h2>

<form method="post">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>

    <select name="role">
        <option value="user">Citizen</option>
        <option value="admin">Admin</option>
    </select><br>

    <button type="submit">Login</button>
</form>
</body>
</html>
